* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
}

.box {
    width: 150px;
    height: 150px;

    border: 2px solid black;
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: blue;
}

@media (max-width: 800px) and (min-width: 401px) {
    body {
        flex-direction: column-reverse;
    }
}

@media (max-width: 400px) {
    body {
        gap: 30px;
    }

    .yellow {
        display: none;
    }
}